Src/SmartNotifierApp.View/Connected Services/NotifyServiceWCF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" />
  <xs:element name="GetLastRestartTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastRestartTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastRestartTimeResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInforamtion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemInforamtionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" minOccurs="0" name="GetSystemInforamtionResult" nillable="true" type="q1:SystemInforamtion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInforamtion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriveInforamtionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" minOccurs="0" name="GetDriveInforamtionResult" nillable="true" type="q2:DriveInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsoleProcesses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsoleProcessesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" minOccurs="0" name="GetConsoleProcessesResult" nillable="true" type="q3:ArrayOfConsoleProcesses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsoleInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsoleInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" minOccurs="0" name="GetConsoleInformationResult" nillable="true" type="q4:ConsoleInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>