Src/SmartNotifierApp.View/Connected Services/NotifyServiceWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NotifierSvcNetTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLastRestartTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastRestartTime" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLastRestartTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastRestartTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSystemInforamtion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInforamtion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSystemInforamtion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemInforamtionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDriveInforamtion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInforamtion" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDriveInforamtion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriveInforamtionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleProcesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleProcesses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleProcesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleInformation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleEventLogInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleEventLogInformation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetConsoleEventLogInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsoleEventLogInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLastRestartTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLastRestartTime" message="tns:IService1_GetLastRestartTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLastRestartTimeResponse" message="tns:IService1_GetLastRestartTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemInforamtion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSystemInforamtion" message="tns:IService1_GetSystemInforamtion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSystemInforamtionResponse" message="tns:IService1_GetSystemInforamtion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriveInforamtion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDriveInforamtion" message="tns:IService1_GetDriveInforamtion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDriveInforamtionResponse" message="tns:IService1_GetDriveInforamtion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsoleProcesses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetConsoleProcesses" message="tns:IService1_GetConsoleProcesses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetConsoleProcessesResponse" message="tns:IService1_GetConsoleProcesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsoleInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetConsoleInformation" message="tns:IService1_GetConsoleInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetConsoleInformationResponse" message="tns:IService1_GetConsoleInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsoleEventLogInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetConsoleEventLogInformation" message="tns:IService1_GetConsoleEventLogInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetConsoleEventLogInformationResponse" message="tns:IService1_GetConsoleEventLogInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotifierSvcNetTcpEndPoint" type="tns:IService1">
    <wsp:PolicyReference URI="#NotifierSvcNetTcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLastRestartTime">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetLastRestartTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemInforamtion">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetSystemInforamtion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriveInforamtion">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetDriveInforamtion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsoleProcesses">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetConsoleProcesses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsoleInformation">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetConsoleInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsoleEventLogInformation">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetConsoleEventLogInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NotifierSvcNetTcpEndPoint" binding="tns:NotifierSvcNetTcpEndPoint">
      <soap12:address location="net.tcp://localhost:8321/NotifierSvc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8321/NotifierSvc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>320057848@code1.emi.philips.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>