Src/SmartNotifierApp.View/Connected Services/NotifyServiceWCF/SmartNotifier.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemInforamtion">
    <xs:sequence>
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemInforamtion" nillable="true" type="tns:SystemInforamtion" />
  <xs:complexType name="DriveInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="CTotalSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalSize" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriveInformation" nillable="true" type="tns:DriveInformation" />
  <xs:complexType name="ArrayOfConsoleProcesses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsoleProcesses" nillable="true" type="tns:ConsoleProcesses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsoleProcesses" nillable="true" type="tns:ArrayOfConsoleProcesses" />
  <xs:complexType name="ConsoleProcesses">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ProcessStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleProcesses" nillable="true" type="tns:ConsoleProcesses" />
  <xs:simpleType name="ProcessStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Running" />
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="NotResponding" />
      <xs:enumeration value="NA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessStatus" nillable="true" type="tns:ProcessStatus" />
</xs:schema>