Src/SmartNotifierApp.View/Connected Services/NotifyServiceWCF/SmartNotifier.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemInforamtion">
    <xs:sequence>
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemInforamtion" nillable="true" type="tns:SystemInforamtion" />
  <xs:complexType name="DriveInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="CTotalSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalSize" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriveInformation" nillable="true" type="tns:DriveInformation" />
</xs:schema>