Src/SmartNotifierApp.View/Connected Services/NotifyServiceWCF/SmartNotifier.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartNotifier.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemInforamtion">
    <xs:sequence>
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemInforamtion" nillable="true" type="tns:SystemInforamtion" />
  <xs:complexType name="DriveInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="CTotalSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalFreeSpace" type="xs:decimal" />
      <xs:element minOccurs="0" name="DTotalSize" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriveInformation" nillable="true" type="tns:DriveInformation" />
  <xs:complexType name="ArrayOfConsoleProcesses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsoleProcesses" nillable="true" type="tns:ConsoleProcesses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsoleProcesses" nillable="true" type="tns:ArrayOfConsoleProcesses" />
  <xs:complexType name="ConsoleProcesses">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ProcessStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleProcesses" nillable="true" type="tns:ConsoleProcesses" />
  <xs:simpleType name="ProcessStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Running" />
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="NotResponding" />
      <xs:enumeration value="NA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessStatus" nillable="true" type="tns:ProcessStatus" />
  <xs:complexType name="ConsoleInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CouchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScannerVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleInformation" nillable="true" type="tns:ConsoleInformation" />
  <xs:complexType name="ArrayOfConsoleEventLogs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsoleEventLogs" nillable="true" type="tns:ConsoleEventLogs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsoleEventLogs" nillable="true" type="tns:ArrayOfConsoleEventLogs" />
  <xs:complexType name="ConsoleEventLogs">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventID" type="xs:int" />
      <xs:element minOccurs="0" name="EventType" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleEventLogs" nillable="true" type="tns:ConsoleEventLogs" />
  <xs:simpleType name="EventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="CriticalError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
</xs:schema>